*{
    margin-top: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    color: black;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}
header{
    background-color: rgb(81, 48, 5);
    background-image: url(background.jpg);
    background-size: contain;
    background-position: bottom;
    padding: 32px;
    text-align: center;
    color: white;
}

header img{
    width: 300px;
    height: auto;
}
header p{
    margin-top: 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: coral;
}

header a{
    color: beige;
    text-decoration: none;
}
header a:hover{
    color: rgb(225, 211, 161);
    text-transform: uppercase;
}
nav{
    background-color: navajowhite;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav a{
    color: black;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
}
nav a:hover{
    background-color: chocolate;
    color: white;
    text-decoration: none;
}
.container{
    display: flex;
    max-width: 1500px;
    margin: auto;
}
aside{
    margin-left: 0;
    max-width: 320px;
    min-width: 240px;
    order: 0;    
}
aside section{
    background-color: rgb(209, 205, 205);
    padding: 24px;
    margin-bottom: 32px;
}
aside a{
    text-decoration: none;
    color: rgb(180, 131, 46);
}


/* Bal oldali sáv */
.aside-left { order: 1; }


/* Jobb oldali sáv */
.aside-right { order: 3;
font-size: 12px; }

main, aside{
    margin: 32px;
}
a{
    color: rgb(144, 107, 13);
    
}
a:hover{
    text-decoration: underline;
}
main{
    padding: 24px;
    background-color: beige;
    order: 2;
}
footer{
    background-color: rgb(228, 222, 180);
    padding: 24px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer img{
    width: 200px;
    height: auto;
}
.more{
    background-color:rgb(147, 123, 68) ;
    color: white;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50px;
}
.more:hover{
    text-decoration: none;
    background-color: rgb(78, 57, 9) ;
}
.action{
    background-color:rgb(82, 61, 11) ;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50px;
}
/* Table - Szolgáltatások*/
table{
    border-collapse: collapse;
    margin-bottom: 24px;
}
thead{
    background-color: rgb(93, 84, 7);
    color: rgb(243, 231, 198);
    font-size: 90%;
}
th, td{
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
tbody tr{
    border-bottom: 3px solid white;
}
tbody tr:hover{
    background-color: rgb(195, 185, 158) ;
}
.price{
    white-space: nowrap;
}
.content{
    font-size: 80%;
}
/*Gallery - Referenciák*/
.gallery{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 128px;
    gap: 8px;
}
.gallery li{
    overflow: hidden;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    transition: 0.5s;
}
.gallery a:hover img{
    opacity: 1;
    transform: scale(1.1);
}
/* Iframe - Kapcsolat */
iframe {
    width: 100%;
    height: 400px;
    border: 0;
    margin-bottom: 16px;
}

/* Bejelentkezés */

.aside-right .login-box {
    background-color: rgb(209, 205, 205); /* ugyanaz a stílus, mint a partnereknél */
    padding: 16px;
    margin-top: 24px;
    border-radius: 8px;
}

.aside-right .login-box label {
    font-weight: 700;   /* vastagabb betű (bold) */
    font-size: 16px;    /* nagyobb betűméret */
    color: #000;        /* erőteljesebb szín (fekete) */
    display: block;
    margin-bottom: 6px;
}


.aside-right .login-box h3 {
    margin-bottom: 12px;
    font-size: 22px;
}

.aside-right .login-box form {
    display: grid;
    gap: 10px;
}

.aside-right .login-box input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.aside-right .login-box button {
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.aside-right .login-box button:hover {
    background-color: #a0a0a0;
}

